# Configuration for the RPi Sensor Streamer

[app]
data-producer-loop-ms = 100

[app.topics]
lidar-tof050c = "lidar/tof050c"
imu-1 = "imu/1"

[zeromq]
data-publisher-address = "tcp://127.0.0.1:5559"

[webrtc]
listen-address = "0.0.0.0:5557"
stun-server = "stun:stun.l.google.com:19302"
track-id = "video"
stream-id = "rpi_sensor_streamer"
bitrate = 2000000 # bits per second (2 Mbps)
queue-buffers = 60 # Number of frames to buffer (~2s at 30fps)

[camera-1]
device = "/base/axi/pcie@1000120000/rp1/i2c@88000/imx219@10"
width = 640
height = 480
target-width = 640
target-height = 480
fps = 30
flip-method = "rotate-180"

[camera-1.crop]
x = 0
y = 0
width = 640
height = 480

[camera-2]
device = "/base/axi/pcie@1000120000/rp1/i2c@80000/imx219@10"
width = 640
height = 480
target-width = 640
target-height = 480
fps = 30
flip-method = "rotate-180"

[camera-2.crop]
x = 0
y = 0
width = 640
height = 480

[lidar-tof050c]
i2c-bus = 1
enable-pin = 17 # GPIO17

[lidar-tof400c]
i2c-bus = 1
enable-pin = 27 # GPIO27
new-i2c-address = 0x2A

[imu-1]
i2c-bus = 0
address = 0x68 